
@{
	Layout = null;
}


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Authenticate</title>
</head>
<body>
	<div>
		@ViewBag.message
		@Session["email"].ToString();
	</div>
	<div>
		@{Response.Redirect("~/Home/Profile");}
	</div>
	
</body>
</html>
