
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>UserLogout</title>
</head>
<body>
	<div>
		@{Response.Redirect("~/Home/Index");
		}
	</div>
</body>
</html>
